nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark

    // Navbar Brand
    a.navbar-brand.ps-3(href='index.html')
        img(src='assets/img/contractsmarts-32.png')
        | ModelManager

    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
        i.fas.fa-bars

    // Customer Name Display
    span#customerNameDisplay.text-black.ms-auto.me-3.my-2.my-md-0.fs-3.font-monospace
        | Loading...


    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
        li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                img(
                  src="assets/img/default-avatar.svg", 
                  alt="User", 
                  height="24", 
                  class="me-2 rounded-circle", 
                  title="User Options"
                )
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                li
                    hr.dropdown-divider
                li
                    a.dropdown-item(href='#' onclick='logoutUser()') Logout


